
<section id="about" data-aos="fade-up">
    <div class="about" >
        <h2 class="content_title">à propos</h2>
        <!-- <span class="underline"></span> -->
        <p class="first_p">
            En pleine reconversion professionnel, je suis aujourd'hui à la recherche de mon premier emploi comme développeur.
        </p>
        <br>

        <p>
            Passionné par la technologie depuis mon plus jeune âge, j'ai décidé de changer de carrière en 2018 pour devenir développeur web.
        </p>
        <br>

        <p>
            Je sors d'un stage où j'ai eu le plaisir de créer une application Android et IOS de zéro, un réseau social avec authentification, 
            publications entre autres, réalise en React Native Expo et à l’aide Appwrite pour le backend. 
        </p>
        <br>

        <p>
            En plus de devoir configurer le DNS ainsi que la configuration d'un VPS.
        </p>
        <br>

        <p>
            Auparavant, j'ai travaillé comme électricien pendant 10 ans. Cette expérience m'a permis de développer des compétences essentielles en résolution de problèmes, 
            en travail en équipe et en rigueur. Ces compétences sont aujourd'hui des atouts majeurs dans ma carrière de développeur web.
        </p>
        <br>

        <p>
            Au cours de ma formation chez Becode (ma 3éme formation), j'ai acquis les compétences techniques nécessaires pour devenir un développeur web compétent. 
            Je maîtrise les langages de programmation HTML, CSS et JavaScript, ainsi que les Framework frontend et backend les plus populaires.
        </p>
        <br>

        <p>
            Je suis également un développeur web créatif et curieux. J'aime explorer de nouvelles technologies et techniques. 
            Je suis toujours à la recherche de nouvelles façons de coder et de créer des sites web et des applications innovants.
        </p>
        <br>

        <p>
            Je suis convaincu que j'ai les compétences et la motivation nécessaires pour réussir dans le domaine du développement web. 
            Je suis impatient de mettre mes compétences en pratique et de contribuer à la création de projets stimulants et gratifiants.
        </p>
    </div>

    <div class="skills">

        <h2 class="content_title">hard skills</h2>
        <ul>
            <h3>Langages de programmation:</h3>
            <li class="first_p">HTML5 / CSS3</li>
            <li>Sass </li>
            <li>JavaScript (React)</li>
            <li>PHP</li>
            <li>Langages de scripting (Bash, PowerShell)</li>

            <h3>Bases de données:</h3>
            <li>SQL (MySQL, MongoDB)</li>

            <h3>Outils et frameworks:</h3>
            <li>GitHub</li>
            <li>Node.js</li>
            <li>NPM</li>

            <h3>Compétences spécifiques:</h3>
            <li>Responsive design</li>
            <li>SEO</li>
        </ul>

        <h2 class="content_title soft_skills">soft skills</h2>
        <ul>
            <h3>Communication:</h3>
            <li class="first_p">Écoute active</li>

            <h3>Collaboration:</h3>
            <li>Travail en équipe</li>
            <li>Esprit d'équipe</li>
            <li>Capacité à donner et recevoir du feedback</li>
            
            <h3>Résolution de problèmes:</h3>
            <li>Capacité à analyser des problèmes</li>
            <li>Patience</li>
            
            <h3>Apprentissage continu:</h3>
            <li>Curiosité</li>
            <li>Autonomie</li>
            <li>Capacité à s'adapter aux nouvelles technologies</li>
        </ul>

    </div>
</section>

<script>
    let AddComponente = document.querySelector('#AddComponents');
    AddComponente.scrollTo({ top: 0, behavior: 'smooth' });
    window.scrollTo({ top: 0, behavior: 'smooth' });
// </script>

